:root{
    --Heading-color: #00bcd4;
    --secondary-color: #1e1e1e;
    --text-color: #e0e0e0;
    --text-color-light: #e0e0e0;
    --text-color-dark: #e0e0e0;
    --links-accent-color: #4db8ff;
    --links-hover-color-light: #61e5f6;
    --accent-color-dark: #00bcd4;

}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  max-width: 100vw;
    height: 100%;
    overflow-wrap: break-word;
    box-sizing: border-box;



}
.math{
    overflow-x: auto;
    background-color: #1e1e1e;
    padding: 0.75rem;
    margin: 1rem 0;
    border-left: 4px solid #4db8ff;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;


}
a{
    color: var(--links-accent-color);
    text-decoration: none;
    overflow-wrap: break-word;
}
a:hover{
    color: var(--links-hover-color-light);
    text-decoration: none;
}
h1{
    margin:0;
    padding: 0;
    color: var(--Heading-color);
    font-size: 2.25rem;
}
h2{
    padding-bottom: 0.3rem;
    border-bottom: 2px solid var(--links-accent-color);
    font-size: 1.75rem;
}
.meta {
    color: #999;
    font-size: 0.9rem;
    margin:0;
    margin-bottom: 1.5rem;
}

header{
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
    margin-top:0;


}
.header-container{

    line-height: 3rem;
}
.svg-container{
    width: 100%;
    align-items: center;
  background-color: #dfe6ec;
  padding: 0.75rem;
  margin:
          1rem 0;
  border-left: 4px solid #4db8ff;
  overflow-x: auto;
    border-radius: 8px;
}
svg{
    display: block;
    width:100%;
    margin: 0 auto;
}
main{
    max-width:800px;
    margin: 2rem auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

h3.in-page-nav-heading{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 1rem 0;
    font-weight: bold;
}
.in-page-navigation{

    top: 2rem;
    background-color: #1e1e1e;
    padding: 1rem;
    border-left: 4px solid #4db8ff;
    font-size: 1rem;
    border-radius: 8px;
}
.in-page-navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;

}
.image-row{
    background-color: #1e1e1e;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #4db8ff;
    border-radius: 8px;


}
.image-row img {
    border-radius: 8px;
    width: 30%;
}



.svg-container-small {
  background-color: #1e1e1e;
  padding: 0.75rem;
  margin: 1rem 0;
  border-left: 4px solid #4db8ff;

  max-height: 320px;      /* control height */
  overflow: hidden;
}

.svg-container-small img {
  width: 100%;
  max-height: 300px;      /* hard height cap */
  height: auto;           /* preserve ratio */
  display: block;
}


@media (min-width: 800px){
    main {
        display: flex;
        gap: 2rem;
        max-width:80vw;
        margin:0;
  }

  .in-page-navigation{
      width: 20%;
      flex-shrink: 0;
      position: sticky;
      height: fit-content;
      border-right: 1px solid #333;
      font-size: 0.8rem;
      margin-top: 10rem;

  }

  .article {
      flex: 1;
      margin: 0 auto;

  }
}
footer{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
details {
  background-color: #252526;
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0;
  border: 1px solid #333;
}

summary {
  cursor: pointer;
  font-weight: bold;
  color: #f6f9fa; /* nice cyan */
}

details[open] summary {
  margin-bottom: 10px;
}
